<div class="wrap">
<div class="container" #container [style.width.px]="data.width" [style.height.px]="data.height">
  <div class="resize resize__right"
       (resize)="onResize2($event)"
       [targetElement]="container"
       [direction]="AngularResizeElementDirection.RIGHT"
  ></div>
  
</div>

<div class="container1" #container1 [style.width.px]="data1.width" [style.height.px]="data1.height">
  <div class="resize resize__left"
       (resize)="onResize1($event)"
       [targetElement]="container1"
       [direction]="AngularResizeElementDirection.LEFT"
  ></div>
  
</div>
</div>
<h1>Loc</h1>